/* Color Hexes 
	Ghost White: #f8f8ff;
	Header: #141622;
	Dark Page: 272935;
	Darker Page: 23252F;
	Blue: 03afff;

*/
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #272935;
	color: #f8f8ff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

/* ..Global.. */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

.contact-form{
	padding: 15px;
	color: #272935;
	margin-top: 10px;
	margin-bottom: 10px;
}

.button_1{
	height: 38px;
	background: #23252f;
	border: none;
	margin-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	color: #03afff; 
	border: 1px solid #03afff;
	border-radius: 10px;
}

.button_1:hover{
	background: #03afff;
	color: #f8f8ff;
}

.row{
	display: flex;
	padding-top: 50px;
}

.column{
	float: left;
	padding: 10px;
	max-width: 100%;
}

.col-left{
	width: 25%;
	height: auto;
}

.col-right{
	width: 75%;
	padding-left: 45px;
	margin-left: 10px;
	text-align: left;
}

.col-right h2{
	text-align: center;
}

.avatar{
	width: 100%;
	height: auto;
}
.avatar-circle{
	border-radius: 50%;
}


.flex-container{
	display: flex;
	flex-wrap: wrap;
}

.page-wrap{
	position: relative;
	margin: 0 auto;
	height: auto !important;
	min-height: 100%;
	margin-bottom: -142px;
}

.page-wrap:after{
	content= "";
	display: block;
}

.site-footer, .page-wrap:after{
	min-height: 50px;
}

/*..Header..*/
header{
	background: #141622;
	color: #f8f8ff;
	padding-top: 10px;
	padding-left: 20px;
	min-height: 50px;
	border-bottom: #03afff 3px solid;
}

header a{
	color: #f8f8ff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
	font-size: 35px;
}

header nav{
	float: right;
	margin-top: 10px;
}

header .highlighting, header .current a{
	color: #03afff;
	/*font-weight: bold;*/
}

header a:hover{
	color: #03afff;
	/*font-weight: bold;*/
}

input, textarea{
	display: block;
	background-color: #282a36;;
	border: 1px solid #f8f8f8;
	border-radius: 10px;
	font-size: 20px;
	font-family: sans-serif;
}

/*..Showcase..*/
#showcase{
	min-height: 400px;
	background: #272935;
	text-align: center;
	color: #f8f8ff;
}

#showcase h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p{
	font-size: 20px; 
}

/*..Skills..*/
#skills{
	background-color: #23252f;
	padding: 0px;
}

.skill-icon{
	flex: 1 0 33.33333333%;
	width: 100%;
}

.skill-icon img{
	height: 200px;
	transform: scale(.4,.4);
}

.skill-title h3{
	font-size: 1rem;
}

/* ..Contact.. */
#contact{
	width: 100%;
	height: 100%;
	background-color: #23252f;
	margin: 0;
	padding: 0;
}

#contact h1{
	float: left;
}

#contact form{
	float: left;
	margin-top: 15px;
}

#contact input[type="text"]{
	padding: 8px;
	height: 25px;
	width: 500px;
	color: #f8f8ff;
	font-size: 20px;
	border: none;
}

#contact input[type="text"]:focus{
	border: 3px solid #03afff;
	border-radius: 10px;
	outline: none;		
}

#contact input[type="email"]{
	padding: 8px;
	height: 25px;
	width: 500px;
	color: #f8f8ff;
	border:none;
}

#contact input[type="email"]:focus{
	border: 3px solid #03afff;
	border-radius: 10px;
	outline: none;		
}

#contact textarea{
	padding: 8px;
	height: 200px;
	width: 501px;
	color: #f8f8ff;
	border: none;
}

#contact textarea:focus{
	border: 3px solid #03afff;
	border-radius: 10px;
	outline: none;		
}

/* ..Boxes.. */
#boxes{
	margin-top: 20px;
}

#boxes .box{
	float: left;
	width: 30%;
	padding: 10px;
	text-align: center;
}

#boxes .box img{
	width: 90px;
}


/* ..Main-col.. */
article#main-col{
	float: left;
	width: 65%;
}

/* ..Services.. */
ul#services li{
	list-style: none;
	padding: 20px;
	border: #cccccc solid 1px;
	margin-bottom: 5px;
	background: #e6e6e6;
}

/* ..Footer.. */
/*
.site-footer{
	background-color: #141622;
	bottom: 0;
	border-top: #03afff 3px solid;
	position: absolute;
	width: 100%;
	text-align: center;
	padding-top: 10px;
}
*/
.site-footer{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	min-height: 50px;
	background-color: #141622;
	border-top: #03afff solid 3px;
}
/* ..Media Queries.. */
@media(max-width: 768px){
	header #branding,
	header nav,
	header nav li,
	#contact h1,
	#contact form,
	#boxes .box,
	article#main-col,
	aside#sidebar{
		float: none;
		text-align: center;
		width: 100%;
	}

	header{
		padding-bottom: 20px;
	}

	#showcase h1{
		margin-top: 40px;
	}

	#contact button{
		display: block;
		width: 100%
	}

	#contact form input[type="email"],
	#contact form input[type="text"],
	#contact form textarea{
		width: 100%
		margin-bottom: 5px;
	}

	.column{
		width: 100%;
	}

	.row, .skills, .flex-container{
		display: block;
	}
}